.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.image-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
}

.banner2 {
  width: 276px;
  height: auto;
  object-fit: cover;
}
.banner3 {
  width: 290px;
  height: auto;
  object-fit: cover;
}

.banner {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
