.favourite {
    padding: 0px;
    margin: 0px;
    height: 0px;
    width: 0px;
}

.favourite svg {
    cursor: pointer;
    overflow: visible;
    width: 100px;
    margin-left: 25px;
}
div.fav > svg {
    animation: animateStar 0.5s;
}

div.fav > svg * {
    fill: #ffb400;
}

@keyframes animateStar {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
