.favourite img {
    cursor: pointer;
    overflow: visible;
    max-height: 45px;
    animation: animateStar 0.5s;
}

div.not-fav > img {
    filter: grayscale(0.5) brightness(1.4);
}

@keyframes animateStar {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
