@import '../../../services/style.css';

.popupmessage {
  z-index: 6;
  background-color: var(--darkest-colour);
  box-sizing: border-box;
  border-radius: 25% 5% 35%;
  left: 300px;
  top: 150px;
  text-align: center;
  /* object-fit: fill; */
  color: white;
  transition: opacity 0, 5, 3s ease-in-out;

  /* transition: cubic-bezier(0.02, 0.99, 0.28, 0.02);
} */
}

.popupmessage .close {
  background-color: #c3d898ff;
  border: none;
  color: rgb(6, 6, 6);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.popup-overlay {
  background-color: rgba(66, 62, 62, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
