@import '../../services/style.css';

p {
    font-size: 16px;
    margin: 15px;
    text-align: center;
    width: auto;
    height: auto;
}
h3 {
    margin: 3%;
}
.exercise-container img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

main.list-exercises > button {
    display: block;
    margin: 0 auto;
}

.exercise-and-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

.filter {
    width: 100%;
}

.exercise-container {
    background-color: rgb(97, 106, 97);

    position: relative;
    flex: 1;
    border: black solid 1px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    box-shadow: 8px 12px 15px var(--darkest-colour);
}
.modalExercises {
    position: relative;
    margin-top: 53%;
    margin-left: 15%;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    padding: 10px;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #7b468c;
    color: white;
}
.modalExercises:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.list-exercises {
    border-radius: 20px;
    box-sizing: content-box;
}
.edit-button {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.edit-button > button {
    position: relative;
    margin-top: 1rem;
    width: 25%;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    padding: 0.7rem 5.2rem;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #7b468c;
    color: white;
}
.edit-button > button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.like {
    width: 60px;
    height: 60px;
    background-color: rgb(97, 106, 97);
}
.like-favourite {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fav-button {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(97, 106, 97);
    height: 100px;
    width: 100px;
    border: none;
}
.edit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 35px;
}
.delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 35px;
}
