.like {
    background-color: var(--lightest-colour);
}
.like-button {
    border: none;
    background-color: yellow;
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

svg {
    cursor: pointer;
    overflow: visible;
}

div.liked > svg {
    animation: animateHeart 0.5s;
}

div.liked > svg * {
    fill: red;
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
