.like img {
    cursor: pointer;
    overflow: visible;
    animation: animateHeart 0.5s;
    max-height: 50px;
}

div.not-liked > img {
    filter: grayscale(1) contrast(1);
}

@keyframes animateHeart {
    0% {
        transform: scale(0.2);
    }
    40% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
