/* footer.css */
footer {
    position: sticky;
    bottom: 0;
    height: 180px;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 1fr;
    justify-content: center;
    align-content: center;
    background-color: rgba(59, 80, 83, 1);
  }
  
  footer img {
    height: 10px; /* Cambia el tamaño de los logos según tus necesidades */
  }
  
  .logo {
    grid-column: 1;
    grid-row: 1;
    overflow:hidden;
  }
  
  .contact-footer {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }
  
  .follow-footer {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }
  
  .footer-footer {
    grid-column: 1/-1;
    grid-row: 2;
    border-top: 1px solid #565f6b;
  }
  
  .footer-footer a {
    text-transform: uppercase;
  }
  
  footer h2 {
    margin-top: 3px;
    color: white;
    font-size: 0.8em;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  footer p {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    line-height: 18px;
    font-weight: 700;
    max-width: 240px;
  }
  
  footer a {
    font-size: 1em;
    text-decoration: none;
    color: #565f6b;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    letter-spacing: 0.3px;
  }

  
  .follow-footer img {
    max-height: 10px; /* Cambia el tamaño de los íconos de seguimiento según tus necesidades */
    margin-right: 5px; /* Ajusta el margen derecho según tus necesidades */
    margin-top: 1px; 
  }
  