/* footer.css */

/* Estilos generales para el footer */
footer {
  background-color: var(--darkest-colour); /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 20px; /* Espaciado interno */

  /* Mantener el footer en la parte inferior y ocupar todo el ancho */
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex; /* Utilizar flexbox */
  justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

/* Estilos para el logo */
.logo img {
  width: 25%;
  padding-bottom: 0; /* Tamaño del logo */
}

/* Estilos para la sección de contacto */
.contact-footer {
  text-align: center; /* Centrar el contenido */
}

.contact-footer h2 {
  color: #fff; /* Color del título */
  font-size: 20px; /* Tamaño del título */
  margin-bottom: 10px; /* Espaciado inferior del título */
}

.contact-footer p {
  margin: 5px 0; /* Espaciado vertical entre párrafos */
}

/* Estilos para la sección de seguir en redes sociales */
.follow-footer {
  text-align: right; /* Alinear a la derecha */
}

.follow-footer h2 {
  color: #fff; /* Color del título */
  font-size: 20px; /* Tamaño del título */
  margin-bottom: 10px; /* Espaciado inferior del título */
}

.social-media img {
  width: 30px; /* Tamaño de las imágenes de redes sociales */
  margin-right: 10px; /* Espaciado entre las imágenes */
}
