/* footer.css */
@import '../../../services/style.css';

/* Estilos generales para el footer */
footer {
    background-color: var(--darkest-colour); /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */

    /* Mantener el footer en la parte inferior y ocupar todo el ancho */

    display: flex; /* Utilizar flexbox */
    justify-content: space-between; /* Distribuir los elementos horizontalmente */
}

section.logo {
    display: flex;
    align-items: center;
}
/* Estilos para el logo */
.logo img {
    width: 113px;
    height: 100px;
    padding-bottom: 0; /* Tamaño del logo */
    border-radius: 50%;
    border: solid 2px var(--lightest-colour);
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Estilos para la sección de contacto */
.contact-footer {
    text-align: center; /* Centrar el contenido */
}

.contact-footer h2 {
    color: #fff; /* Color del título */
    font-size: 20px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
}

.contact-footer p {
    margin: 5px 0; /* Espaciado vertical entre párrafos */
}

/* Estilos para la sección de seguir en redes sociales */
.follow-footer {
    text-align: right; /* Alinear a la derecha */
}

.follow-footer h2 {
    color: #fff; /* Color del título */
    font-size: 20px; /* Tamaño del título */
    margin-bottom: 10px; /* Espaciado inferior del título */
    margin-right: 21px;
}

.social-media img {
    width: 30px; /* Tamaño de las imágenes de redes sociales */
    margin-right: 10px; /* Espaciado entre las imágenes */
}

@media (max-width: 767px) {
    .contact-footer {
        font-size: 10px;
        margin-left: 5%;
    }

    h2.contact-title,
    h2.follow-title {
        font-size: 15px;
        font-weight: bold;
    }
    h2.follow-title {
        margin-left: 16%;
    }
    .contact-footer p {
        font-size: 12px;
    }
    .social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 24px;
        margin-top: 15%;
    }

    .logo img {
        width: 60px;
        height: 55px;
        padding-bottom: 0; /* Tamaño del logo */
        border-radius: 50%;
        border: solid 2px var(--lightest-colour);
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
