main.edit-profile {
    border: 1px solid #7b468c;
}
.edit-profile p {
    margin-bottom: 20px;
}

/* Estilo para los campos de texto y select */
.edit-profile input,
.edit-profile select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #837e7e;
    border-radius: 4px;
}
.button-edit {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    padding: 0.1rem 2rem;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #7b468c;
    font-size: 15px;
    color: white;
    margin-right: 10px;
}

.button-edit:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 5px;
    text-shadow: 1px 1px 2px #427388;
}
input #edit-avatar,
#edit-name,
#edit-surname,
#edit-email {
    font-size: 12px;
    padding: 5px 5px 5px 2.5px;
    display: inline-block;
    width: 150px;
    border: none;
    border-bottom: 1px solid purple;
    background: transparent;
    color: #333;
}
.email {
    width: 150px;
}

input:focus {
    outline: none;
}
.filephoto {
    font-size: 12px;
    padding: 5px 5px 5px 2.5px;
    display: inline-block;
    width: 25%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    color: #333;
}

img.avatar {
    display: flex;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
}
/* Media queries para diseño responsive */
@media screen and (min-width: 1024px) {
    .main.edit-profile {
        max-width: 300px;
        margin: 0 auto;
    }

    img.avatar {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 768px) {
    .main.edit-profile {
        max-width: 220px;
    }

    img.avatar {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 375px) {
    .main.edit-profile {
        max-width: 180px;
    }

    img.avatar {
        width: 30px;
        height: 30px;
    }
}
