/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura según tus necesidades }*/

/* Formulario */
/* form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Ajusta el margen superior según tus necesidades }*/

/* Contenedor del avatar */
/* .avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
/* Contenedor de los términos y condiciones */
/* .terms-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; /* Ajusta el margen superior según tus necesidades
} */

/* Error PopUp */
/* .error-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
} */
