.notfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.notfound-div {
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Media queries para diseño responsive */
@media screen and (min-width: 1024px) {
    .notfound-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 600px;
    }
}

@media screen and (min-width: 768px) {
    .notfound-title {
        font-size: 40px;
        text-align: center;
    }
    .notfound-img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 80vh;
        max-width: 80vh;
    }
}

@media screen and (min-width: 200px) {
    .notfound-img {
        max-height: 50vh;
        max-width: 50vh;
    }
    .notfound-title {
        padding-left: 1.5rem;
    }
}
