.error-modal {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 1.5rem;
    border: 1px solid rgb(25, 25, 25);
    z-index: 2;
    margin-top: 5%;
    border-radius: 20%;
    border: solid 1px black;
    box-shadow: 0 5px 8px grey;
}

.error-modal > p {
    color: red;
    font-weight: bold;
    margin: 0;
    font-size: 16px;
}
