/* forgotPassword.css */
@import '../../services/style.css';

/* Estilos generales para el formulario */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--light-colour);
  flex: 1;
}

/* Estilos para el título */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
