/* div#root {
  text-align: center;
  background-color: rgba(81, 106, 44, 0.618);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

button {
  align-items: flex-end;
  background-color: bisque;
}
h2 {
  padding-top: 2rem;
} */
