.header-container {
  background-color: green tea;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 32px;
  justify-content: space-between;
}

.header-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}
