/* .button {
  color: rgb(249, 247, 247);
  border: 1px black;
  background-color: rgba(59, 80, 83, 1);
  padding: 0.7rem 5.2rem;
  border-radius: 75% 75%;
  margin: 1rem;
  transition: all 0.5s ease;
}
.button:hover {
  color: white;
  background-color: #093c07;
  padding: 1rem 3.5rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:active {
  background-color: rgb(176, 8, 243);
  color: white;
  padding: 1rem 5rem;
  transition: all 0.2s ease;
} */

.button {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  padding: 0.7rem 5.2rem;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #7b468c;
  color: white;
}

.button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
