.button {
  color: rgb(249, 247, 247);
  border: 1px black;
  background-color: rgba(59, 80, 83, 1);
  padding: 0.7rem 5.2rem;
  border-radius: 75% 75%;
  margin: 1rem;
  transition: all 0.5s ease;
}
.button:hover {
  color: white;
  background-color: #093c07;
  padding: 1rem 3.5rem;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.button:active {
  background-color: rgb(176, 8, 243);
  color: white;
  padding: 1rem 5rem;
  transition: all 0.2s ease;
}
